*.pdf filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.nc filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pk filter=lfs diff=lfs merge=lfs -text
*.cpk filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=jupyternotebook merge=lfs -text
*.cpg filter=lfs diff=lfs merge=lfs -text
*.dbf filter=lfs diff=lfs merge=lfs -text
*.shp filter=lfs diff=lfs merge=lfs -text
*.shx filter=lfs diff=lfs merge=lfs -text
*.prj filter=lfs diff=lfs merge=lfs -text
*.tenv3 filter=lfs diff=lfs merge=lfs -text
*.DS_Store filter=lfs diff=lfs merge=lfs -text
*._low_confidence filter=lfs diff=lfs merge=lfs -text
*._medium_confidence filter=lfs diff=lfs merge=lfs -text
*._ssp126 filter=lfs diff=lfs merge=lfs -text
*._ssp245 filter=lfs diff=lfs merge=lfs -text
*._ssp585 filter=lfs diff=lfs merge=lfs -text
*._ssp119 filter=lfs diff=lfs merge=lfs -text
*._ssp370 filter=lfs diff=lfs merge=lfs -text
*._Global filter=lfs diff=lfs merge=lfs -text
*._Regional filter=lfs diff=lfs merge=lfs -text
*.xlsx# filter=lfs diff=lfs merge=lfs -text
*.giosaveW1JFru filter=lfs diff=lfs merge=lfs -text
*.giosavemIKgcY filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.ps filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
# add exceptions
datasets.json !filter !diff !merge text
sealevelbayes/datasets/ar6/glaciers_ar6_table_9_sm_2.csv !filter !diff !merge text
sealevelbayes/datasets/ar6/pb_fits_by_matthias.json !filter !diff !merge text
pm2025/configs/*/*.json !filter !diff !merge text
sealeveldata/ar6_wg1/spm_01/v20221116/panel_a/SPM1_1850-2020_obs-clean.csv !filter !diff !merge text
sealevelbayes/datasets/catalogue.json !filter !diff !merge text
sealeveldata/Budget_20c/tg/hogarth_stations.json !filter !diff !merge text
