trash
.ipynb_checkpoints
*.pyc
slurm-*.out
notebooks
trace*nc
trace*cpk
work/traces
*.png
*.pickle
sealeveldata
venv
.venv
.venv-*
sealevelbayes.egg-info/
sealevelbayes/_version.py
build
config.toml
runs
logs
jobs
batch_jobs.sh
jupyter_server.sh
.vscode
todo.md
